
.services {
    padding: 20px;
    text-align: center;
  }
  

  .services-container{
    display: flex;
    gap: 1rem;
    
  }

  .services h4 {
    color: #429e9d;; 
    font-size: 1.2em;
   
  }
  
  .services h1 {
    color: #222;
    font-size: 2.5em;
    line-height: 1.2;
  }
  
  
  .services div {
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
    text-align: center;
  }
  
  
  .services img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  
  .services h2 {
    color:#429e9d;
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .services p {
    color: #666; 
    line-height: 1.6;
    margin: 0 0 15px;
  }
  
 
  .services button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color:#429e9d; 
    color: #fff; 
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .services button:hover {
    background-color:blueviolet;
    color:white;
  }

 