
  .contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#429E9D;
  }
  
  .contact-header {
    max-width: 70%; 
    
  }
  
  .contact-header h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
  }
  
  .contact-header p {
    font-size: 16px;
    margin-bottom: 20px;
    color:white;
  }
  
  .contact-button {
    padding: 12px 20px;
    font-size: 16px;
    
    background-color:black;
    color:white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-button:hover {
    color: #fff;
    background-color:blueviolet;
  }
  
  .contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap:5px; 
  }
  
  .contact-info > section {
    flex: 1 1 250px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    box-sizing: border-box; 
    padding: 10px; 
    margin-top: 20px;
  }
  
  .about-info-social{
    width: 340px;
    height:200px;
    overflow-wrap: break-word;
    
    
  }
  .quick-links
   {
    width: 340px;
    height:200px;
    margin-left: 80px;

    
  }

  .contact-details{
    width: 340px;
    height:200px;
    margin-left: 10px;
  }
  .map {
    width: 340px;
    height:200px;
  }
  
 
  
  .quick-links ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
  }
  
  .quick-links li {
    margin-bottom: 10px; 
  }
  
  .social-icons {
    display: flex;
    font-size: 25px;
    gap: 10px; 
    margin-top: 40px;
  }
  
  .contact-details-content {
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  
  .contact-details-item {
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
  
  .material-icons {
    font-size: 30px; 
  }
  
  .map-container {
    height:200px;
  }
  
  .footer {
    
    color:grey;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
  
  .footer h5 {
    margin: 0;
  }
  